#### **Simple functions**
A ***simple function*** operates on an expression enclosed in parentheses, called an ***argument***, and returns a value. The expression is usually a column name or fixed value, but may include operators and other functions. Some functions have several arguments, separated by commas, and a few have no arguments.

Each simple function operates on, and evaluates to, specific data types. Ex: The LOG function operates on any numeric data type and returns a DOUBLE value. If the argument is invalid, the function returns NULL. Ex: The SQRT function computes the square root of positive numbers only, so SQRT(-1) returns NULL.

Most simple functions operate on numeric, string, or date and time values. Common simple functions in SQL appear below.

##### **Simple Functions**

Numeric type:
- ABS(n)
- LOG(n)
- POW(x,y)
- RAND() Random number between 0 (inclusive) and 1 (exclusive)	
- ROUND(n,d) n rounded to d decimal places	
- SQRT(n)

String type:
- CONCAT(s1, s2, ...)
- LOWER(s) s converted to lower case	
- UPPER(s)
- REPLACE(s, from, to) s with all occurrences of from replaced by to	
- SUBSTRING(s, pos, len) Substring of s that starts at position pos with length len	



Date Time type: 

   Current date, time, or date and time in 'YYYY-MM-DD', 'HH:MM:SS', or 'YYYY-MM-DD HH:MM:SS' format

- CURDATE()
- CURTIME()
- NOW()

    Day, month, or year of d	

- DAY(d)
- MONTH(d)
- YEAR(d)

    Hour, minute, or second of t	

- HOUR(t)
- MINUTE(t)
- SECOND(t)

    Difference of dt1 âˆ’ dt2, in number of days or amount of time	

- DATEDIFF(dt1, dt2)
- TIMEDIFF(dt1, dt2)
	
---

#### **Aggregate Functions**
An ***aggregate function*** processes values from a set of rows and returns a summary value. Aggregate functions appear in a SELECT clause and process all rows that satisfy the WHERE clause condition. If a SELECT statement has no WHERE clause, the aggregate function processes all rows.

Common aggregate functions are:

- **COUNT()** counts the number of selected values.
- **MIN()** finds the minimum of selected values.
- **MAX()** finds the maximum of selected values.
- **SUM()** sums selected values.
- **AVG()** computes the arithmetic mean of selected values.
- **VARIANCE()** computes the standard variance of selected values.

Aggregate functions have a single argument. The argument may be any expression but is usually a column name. Aggregate functions ignore rows for which the expression evaluates to NULL.

**Examples:**

    SELECT COUNT(*) 
    FROM Employee 
    WHERE Bonus > 500;

    SELECT MIN(Salary) 
    FROM Employee;

    SELECT AVG(Salary) 
    FROM Employee;

---

#### **GROUP BY clause**
Aggregate functions are commonly used with the ***GROUP BY*** clause. The GROUP BY clause groups rows with identical values into a set of summary rows. Some important points about the GROUP BY clause:

- One or more columns are listed after GROUP BY, separated by commas.
- GROUP BY clause returns one row for each group.
- Each group may be ordered with the ORDER BY clause.
- GROUP BY clause must appear before the ORDER BY clause and after the WHERE clause (if present).

**Examples:**

    SELECT CountryCode, SUM(Population)
    FROM City
    GROUP BY CountryCode;

    SELECT CountryCode, District, COUNT(*)
    FROM City
    GROUP BY CountryCode, District;

---

#### **HAVING clause**

The ***HAVING*** clause is used with the GROUP BY clause to filter group results. The optional HAVING clause follows the GROUP BY clause and precedes the optional ORDER BY clause.

The HAVING clause must include the same aggregate function that appears in the SELECT clause.

**Examples:**

    SELECT CountryCode, SUM(Population)
    FROM City
    GROUP BY CountryCode
    HAVING SUM(Population) > 2300000;   

Although the GROUP BY clause creates two groups based on CountryCode, the HAVING clause selects only the group with a population sum > 2,300,000.

    SELECT CountryCode, District, COUNT(*)
    FROM City
    GROUP BY CountryCode, District
    HAVING COUNT(*) >= 2;

The HAVING clause selects only groups that have a row count >= 2.
Only the ZMB, 2 and ZWE, 1 groups have at least 2 rows.

---

In [1]:
%load_ext sql

The given SQL creates a Song table and inserts songs. The SELECT statement selects the genre and row count for each genre group and uses MAX() to find the most recent release year for each genre. Then the HAVING clause  selects only genre groups that have more than one row count.

In [10]:
%%sql sqlite://

CREATE TABLE Music (
  ID INT,
  Title VARCHAR(60),
  Artist VARCHAR(60),
  ReleaseYear INT,
  Genre VARCHAR(20),
  PRIMARY KEY (ID)
);

INSERT INTO Music VALUES
  (100, 'Hey Jude', 'Beatles', 1968, 'pop rock'),
  (200, 'You Belong With Me', 'Taylor Swift', 2008, 'country pop'),
  (300, 'You''re Still the One', 'Shania Twain', 1998, 'country pop'),
  (400, 'Need You Now', 'Lady Antebellum', 2009, 'country pop'), 
  (500, 'You''ve Lost That Lovin Feeling', 'The Righteous Brothers', 1964, 'R&B'),
  (600, 'That''s The Way Love Goes', 'Janet Jackson', 1993, 'R&B'),
  (700, 'Smells Like Teen Spirit', 'Nirvana', 1991, 'grunge'),
  (800, 'Even Flow', 'Pearl Jam', 1992, 'grunge'),
  (900, 'Black Hole Sun', 'Soundgarden', 1994, 'grunge');

-- Modify the SELECT statement
SELECT Genre, COUNT(*), MAX(ReleaseYear)
FROM Music
GROUP BY Genre
HAVING COUNT(*) > 1;

Done.
9 rows affected.
Done.

[('R&B', 2, 1993), ('country pop', 3, 2009), ('grunge', 3, 1994)]