### **Joins**
In relational databases, reports are generated from data in multiple tables. Multi-table reports are written with join statements.

A ***join*** is a SELECT statement that combines data from two tables, known as the ***left table*** and ***right table***, into a single result. The tables are combined by comparing columns from the left and right tables, usually with the = operator. The columns must have comparable data types.

Usually, a join compares a foreign key of one table to the primary key of another. However, a join can compare columns with comparable data types.

    SELECT DepartmentName, EmployeeName
    FROM Department, Employee
    WHERE Manager = ID; 
    -- Manager (Department Foreign Key), ID (Employee Primary Key)

---

#### **Prefixes and aliases**
Occasionally, join tables contain columns with the same name. When duplicate column names appear in a query, the names must be distinguished with a prefix. The prefix is the table name followed by a period.

Use of a prefix makes column names more complex. To simplify queries or result tables, a column name can be replaced with an alias. The alias follows the column name, separated by an optional ***AS*** keyword.

Ex: In the figure below, the Name column appears in both tables and thus must have a prefix in the join query. Department.Name and Employee.Name are assigned aliases Group and Supervisor, which simplify the result column names.

    SELECT Department.Name AS Group, 
       Employee.Name AS Supervisor
    FROM Department, Employee
    WHERE Manager = ID;

---

#### **Inner and full joins**
A ***join clause*** determines how a join query handles unmatched rows. Two common join clauses are:

- ***INNER JOIN***, which selects only matching left and right table rows.
- ***FULL JOIN***, which selects all left and right table rows, regardless of match.
In a FULL JOIN result table, unmatched left table rows appear with NULL values in right table columns and vice versa.

The join clause appears between a FROM clause and an ON clause. Specifically:

The FROM clause specifies the left table.
The INNER JOIN or FULL JOIN clause specifies the right table.
The ***ON*** clause specifies the join columns.
An optional WHERE clause follows the ON clause.


    SELECT Department.Name AS Group,
      Employee.Name AS Supervisor
    FROM Department
          Employee
    ON Manager = ID;

    SELECT Department.Name AS Group,
      Employee.Name AS Supervisor
    FROM Department
         Employee
    ON Manager = ID;

---

#### **Left and right joins**
In some cases, the database user wants to see unmatched rows from either the left or right table, but not both. To enable these cases, relational databases support left and right joins:

- ***LEFT JOIN*** selects all left table rows, but only matching right table rows.
- ***RIGHT JOIN*** selects all right table rows, but only matching left table rows.
An ***outer join*** is any join that selects unmatched rows. Left, right, and full joins are all outer joins.

Join clauses are standard SQL syntax and supported by most relational databases. Ex: MySQL supports INNER, LEFT, and RIGHT JOIN but not FULL JOIN.

    SELECT Department.Name AS Group,
      Employee.Name AS Supervisor
    FROM Department
         Employee
    ON Manager = ID;

    SELECT Department.Name AS Group,
      Employee.Name AS Supervisor
    FROM Department
          Employee
    ON Manager = ID;

---

#### **Equijoins**
An equijoin compares columns of two tables with the = operator. Most joins are equijoins. A non-equijoin compares columns with an operator other than =, such as <, >, ≤, and ≥.

In the figure below, a non-equijoin selects all buyers along with properties priced below the buyer's maximum price.

    SELECT Name, Address
    FROM Buyer
    LEFT JOIN Property
    ON Price < MaxPrice;

---