#### **Operators**
An **operator** is a symbol that computes a value from one or more other values, called **operands**:

Arithmetic operators compute numeric values from numeric operands.

Comparison operators compute logical values TRUE or FALSE. Operands may be numeric, character, and other data types.

Logical operators compute logical values from logical operands.

A **unary** operator has one operand. A **binary** operator has two operands. Most operators are binary. The logical operator NOT is unary. The arithmetic operator - is either unary or binary.

Arithmetic and comparison operators return NULL when either operand is NULL. Logical operators with NULL operands are discussed elsewhere in this material.

---

#### **Expressions**
An ***expression*** is a string of operators, operands, and parentheses that evaluates to a single value. Operands may be column names or fixed values. The value of an expression may be any data type. Ex: Salary > 34000 AND Department = 'Marketing' is an expression with a logical value.

A simple expression may consist of a single column name or a fixed value. Ex: The column EmployeeName and the fixed value 'Maria' are expressions with a character data type.

When an expression is evaluated, column names are replaced with column values for a specific row. Consequently, an expression containing column names may have different values for different rows.

The order of operator evaluation may affect the value of an expression. Operators in an expression are evaluated in the order of ***operator precedence***, shown in the table below. Operators of the same precedence are evaluated from left to right. Regardless of operator precedence, expressions enclosed in parentheses are evaluated before any operators outside the parentheses are applied.

##### **Operator precedence.**
**Precedence	Operators**

1. 	(-) (unary)
2.	^
3.	(*)  /  (%)
4.	(+)  (-) (binary)
5.	=  !=  <  >  <=  >=
6.	NOT
7.	AND
8.	OR

---

#### **SELECT statement**
The SELECT statement selects rows from a table. The statement has a **SELECT** clause and a **FROM** clause. The FROM clause specifies the table from which rows are selected. The SELECT clause specifies one or more expressions, separated by commas, that determine what values are returned for each row.

**SELECT with expressions.**

    SELECT Expression1, Expression2, ... 
    FROM TableName;


In many queries, each expression in the SELECT clause is a simple column name.

**SELECT with columns.**

    SELECT Column1, Column2, ... 
    FROM TableName;


To select all columns, the expressions can be replaced with a single asterisk.

**SELECT with asterisk.**

    SELECT *
    FROM TableName;

---

#### **WHERE clause**
An expression may return a value of any data type. A **condition** is an expression that evaluates to a logical value.

A SELECT statement has an optional **WHERE** clause that specifies a condition for selecting rows. A row is selected when the condition is TRUE for the row values. A row is omitted when the condition is either FALSE or NULL.

The WHERE clause follows the FROM clause. When a SELECT statement has no WHERE clause, all rows are selected.

WHERE clause.

    SELECT Expression1, Expression2, ...
    FROM TableName
    WHERE Condition;

In [2]:
%load_ext sql

The given SQL creates a Movie table and inserts some movies. The SELECT statement selects the title and release date of PG-13 movies that are released after January 1, 2008.

Verify the result table shows just the titles and release dates for The Dark Knight and Crazy Rich Asians.

**Movie (7 rows)**

**ID	Title	Rating	ReleaseDate**
1. 	Casablanca	PG	1943-01-23
2. 	Bridget Jones's Diary	PG-13	2001-04-13
3. 	The Dark Knight	PG-13	2008-07-18
4. 	Hidden Figures	PG	2017-01-06
5. 	Toy Story	G	1995-11-22
6. 	Rocky	PG	1976-11-21
7. 	Crazy Rich Asians	PG-13	2018-08-15

In [5]:
%%sql sqlite://

CREATE TABLE Movie (
  ID INT AUTO_INCREMENT,
  Title VARCHAR(100),
  Rating CHAR(5) CHECK (Rating IN ('G', 'PG', 'PG-13', 'R')),
  ReleaseDate DATE,
  PRIMARY KEY (ID)
);

INSERT INTO Movie (Title, Rating, ReleaseDate) VALUES
  ('Casablanca', 'PG', '1943-01-23'),
  ('Bridget Jones Diary', 'PG-13', '2001-04-13'),
  ('The Dark Knight', 'PG-13', '2008-07-18'),
  ('Hidden Figures', 'PG', '2017-01-06'),
  ('Toy Story', 'G', '1995-11-22'),
  ('Rocky', 'PG', '1976-11-21'),
  ('Crazy Rich Asians', 'PG-13', '2018-08-15');

SELECT Title, ReleaseDate
FROM Movie 
WHERE Rating = 'PG-13' AND ReleaseDate > '2008-01-01';

Done.
7 rows affected.
Done.

[('The Dark Knight', '2008-07-18'), ('Crazy Rich Asians', '2018-08-15')]


**SQLite** is a lightweight, file-based relational database management system (RDBMS) that is widely used for embedded database applications, testing, prototyping, and small-scale web applications. Unlike client-server databases like MySQL, PostgreSQL, or Oracle, SQLite does not require a separate server process to be running. Instead, it directly accesses and manipulates the database stored in a single disk file.

Here are some key features of SQLite:

1. **Serverless**: SQLite is serverless, meaning there is no need to set up a separate database server process. The database engine is embedded within the application, and database operations are performed directly on the database file.

1. **Self-contained**: SQLite databases are self-contained, stored as a single disk file. This makes SQLite databases easy to distribute and manage.

3. **Zero Configuration**: SQLite databases require minimal setup and configuration. You don't need to install or configure a database server or manage user permissions.

4. **Transactional**: SQLite supports ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring data integrity and reliability.

5. **Cross-platform**: SQLite is cross-platform and runs on various operating systems, including Windows, macOS, Linux, and Unix-like systems.