In [21]:
!pip3 install -qU pandas 
!pip3 install -qU numpy

#### **Documentation**

**https://pandas.pydata.org/docs/reference/frame.html**

Both join and merge can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

In [32]:
import numpy as np
import pandas as pd

# Inner Join: 

This is the most common type of join, and it returns all rows from the left DataFrame that have matching rows in the right DataFrame.

In [64]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'B': [4, 5, 6]}).set_index('ID')
df1

    B
ID
1   4
2   5
3   6

In [65]:
df2 = pd.DataFrame({'ID': [2, 3, 4], 'D': [10, 11, 12]}).set_index('ID')
df2

     D
ID
2   10
3   11
4   12

Look at Pandas Main Dataframe Join Operation

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

Venn Diagram 
https://en.wikipedia.org/wiki/Venn_diagram


SQL Join 
https://en.wikipedia.org/wiki/Join_(SQL)

In [66]:
print(df1)
print(df2)


df = df1.join(df2)

# 
print(df)

    B
ID
1   4
2   5
3   6
     D
ID
2   10
3   11
4   12
    B     D
ID
1   4   NaN
2   5  10.0
3   6  11.0

# Left Join:

This type of join returns all rows from the left DataFrame, even if there are no matching rows in the right DataFrame. Any rows in the right DataFrame that do not have a matching row in the left DataFrame will be filled with NaN values.

In [69]:
# Left join on the 'ID' column
df = df1.join(df2, on='ID', how='left')

print(df)

    B     D
ID
1   4   NaN
2   5  10.0
3   6  11.0

# Right Join:
  
This type of join returns all rows from the right DataFrame, even if there are no matching rows in the left DataFrame. Any rows in the left DataFrame that do not have a matching row in the right DataFrame will be filled with NaN values.

In [70]:
# Right join on the 'ID' column
df = df1.join(df2, on='ID', how='right')

print(df)

     ID    B   D
2.0   2  5.0  10
3.0   3  6.0  11
NaN   4  NaN  12

# Full Join: 
    
This type of join returns all rows from both DataFrames, even if there are no matching rows between them. Any rows that do not have a matching row in the other DataFrame will be filled with NaN values.

In [71]:
# Full join on the 'ID' column
df = df1.join(df2, on='ID', how='outer')

print(df)

     ID    B     D
1.0   1  4.0   NaN
2.0   2  5.0  10.0
3.0   3  6.0  11.0
NaN   4  NaN  12.0

# How 

how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘left’

In [72]:
# Inner join on the 'ID' column
df = df1.join(df2, on='ID', how='inner')

print(df)

    B   D
ID
2   5  10
3   6  11